.admin-container {
    min-height: 100vh;
    background: #f4f7fb;
    padding: 40px;
    color: #1e293b;
}

.admin-header {
    text-align: center;
    margin-bottom: 30px;
}

.admin-header h1 {
    color: #2563eb;
    margin-bottom: 5px;
}

.admin-header p {
    color: #64748b;
}

.admin-controls {
    background: white;
    max-width: 800px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    gap: 15px;
}

.admin-controls label {
    font-weight: bold;
}

.admin-controls select {
    padding: 12px;
    border: 1px solid #dbe3ef;
    border-radius: 8px;
    font-size: 15px;
}

.next-button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.next-button:hover {
    background: #1d4ed8;
}

.token-list {
    max-width: 1000px;
    margin: 35px auto;
}

.token-list h2 {
    margin-bottom: 20px;
}

.admin-token-card {
    background: white;
    margin-bottom: 15px;
    padding: 20px;

    border-radius: 15px;

    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.admin-token-number {
    text-align: center;
    min-width: 100px;
}

.admin-token-number span {
    display: block;
    color: #64748b;
    font-size: 13px;
}

.admin-token-number strong {
    display: block;
    color: #2563eb;
    font-size: 35px;
}

.admin-token-info {
    flex: 1;
}

.admin-token-info p {
    margin: 6px 0;
}

.waiting {
    color: #d97706;
    font-weight: bold;
}

.serving {
    color: #16a34a;
    font-weight: bold;
}

.completed {
    color: #2563eb;
    font-weight: bold;
}

.cancelled {
    color: #dc2626;
    font-weight: bold;
}

.admin-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.complete-button {
    background: #16a34a;
}

.cancel-button {
    background: #dc2626;
}

@media (max-width: 700px) {

    .admin-container {
        padding: 20px;
    }

    .admin-controls {
        flex-direction: column;
        align-items: stretch;
    }

    .admin-token-card {
        flex-direction: column;
        text-align: center;
    }
}